nav {
  display: block;
}

header {
  background: white;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

figure {
  margin: 0%;
  display: inline-block;
  text-align: center;
}

h2 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

p {
  color: #2e899f;
  font-family: "Sunflower", sans-serif;
  /* text-align: justify;
  padding: 2%;
  margin-block-end: 18%;
  margin: 8%; */
}

footer {
  background-color: #43425d;
  width: auto;
  height: 100%;
  text-align: center;
}

li {
  text-align: -webkit-left;
  color: #43425d;
  font-family: "Saira", sans-serif;
  margin-left: 8%;
}

.back {
  float: right;
  padding: 7%;
  font-family: "saira";
  color: #50b1b4;
}

.logo {
  width: 15%;
  height: auto;
  padding: 3%;
}

.logoPro{
  width: 15%;
  height: auto;
  padding: 3%;
}

.sidebar {
  position: absolute;
  width: 200px;
  height: 100vh;
  top: 0;
  right: -205px;
  padding-top: 47px;
  background-color: white;
  border-left: 2px solid #50b1b4;
  transition: all 0.5s ease;
}

.menu_list {
  list-style: none;
  font-family: sans-serif;
}

.nav__item {
  display: block;
  font-family: "Sunflower";
  width: 80%;
  margin: 0 auto;
  line-height: 4;
  position: relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
  background-color: transparent;
  color: #2e899f;
  text-decoration: none;
}

.menu-toogle {
  position: absolute;
  text-align: center;
  top: 4px;
  right: 5%;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 10;
}

.menu-toogle::before {
  content: "☰";
  font-size: 33px;
  color: #2e899f;
}

.checkbox {
  float: right;
  display: none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}
.checkbox:checked ~ .sidebar {
  right: 0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
  position: fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
}
.checkbox:checked ~ .main-w {
  margin-right: 200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
}
.checkbox:checked ~ .menu-toogle {
  right: 208px;
  position: fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
}

.intro {
  background: -webkit-linear-gradient(top, white 70%, #6dcdbf);
  width: auto;
  /* margin-block-end: 0%;
  margin-block-start: 10%; */
  /* text-align: center; */
  font-family: sans-serif;
  font-kerning: none;
  height: auto;
  margin-top: 100px;
  padding-top: 3%;
}

.about {
  background: -webkit-linear-gradient(top, white 70%, #6dcdbf);
  width: auto;
  text-align: center;
  font-family: "saira";
  font-kerning: none;
  padding-right: 5%;
  padding-left: 5%;
  height: auto;
  margin-top: 0%;
  padding-top: 80px;
}

.projects {
  background: -webkit-linear-gradient(top, white 70%, #6dcdbf);
  width: auto;
  text-align: center;
  font-family: "saira";
  font-kerning: none;
  padding-right: 0%;
  padding-left: 0%;
  height: auto;
  margin-top: 0%;
  padding-top: 80px;
}

.icon {
  display: inline-block;
  width: 35%;
  height: auto;
  padding: 7%;
}

.image {
  display: block;
  width: 99%;
  height: auto;
  padding: 0.5%;
  padding-block-start: 7%;
}

.img-about-me {
  width: 270px;
}

.monograma {
  width: 400px;
  width: 308px;
  margin-left: 34px;
  padding-bottom: 36px;
}

.photos {
  background-color: #eb008b;
  width: auto;
  height: 100%;
  align-content: center;
  margin-block-start: 0%;
  vertical-align: bottom;
}

.question {
  padding: 5%;
}

.final {
  width: 90%;
  vertical-align: bottom;
}

.quote {
  color: #2e899f;
  font-size: 209%;
  font-family: "Sunflower", sans-serif;
  text-align: center;
  margin-bottom: 75px;
}
.p-intro {
  padding-bottom: 90px;
}

.p-0 {
    padding: 0!important;
    text-align: center;
}

.aboutme {
  width: 77%;
  margin-block-start: 5%;
  margin-block-end: 0%;
}

.design {
  width: 100%;
  margin-block-start: 5%;
  margin-block-end: 0%;
}

.projectcover {
  width: 80%;
  border-radius: 5%;
  margin-block-end: 3%;
}

.cover {
  width: 102%;
  margin-block-start: 10%;
  margin-block-end: 0%;
}

.tools {
  display: inline-block;
    width: 19%;
    padding: 3%;
    margin-block-end: 30px;
}

.contactme {
  display: inline-block;
  width: 60px;
  padding: 7px;
  margin-block-end: 8%;
}

.prototype {
  display: inline-block;
  width: 100%;
  padding: 2%;
  margin-block-start: 8%;
  margin-block-end: 8%;
}

#bold {
  color: #2e899f;
  font-size: 209%;
  font-family: "Sunflower", sans-serif;
  font-weight: 700;
  text-align: center;
}

#parraph {
  color: #43425d;
  font-family: "Saira", sans-serif;
  text-align: justify;
}

#footer {
  text-align: center;
  vertical-align: bottom;
  padding-top: 8%;
}

#projects {
  color: #43425d;
  font-family: "Saira", sans-serif;
  font-weight: bolder;
  padding: 10px;
  text-align: left;
  margin-left: 5%;
  font-size: 120%;
}

.img-think {
  width: 325px;
}

#skills {
  color: #43425d;
  font-family: "Sunflower", sans-serif;
  font-weight: bolder;

  text-align: left;

  font-size: 120%;
}

#consulta {
  color: white;
  text-decoration: none;
  display: inline-block;
}

#menu {
  width: 10%;
  height: auto;
  vertical-align: top;
  padding: 2%;
  padding-top: 9%;
  float: right;
  margin: 0%;
}

@media (min-width: 1281px) {
  p {
    font-family: sans-serif;
    padding: 1%;
    font-size: 14px;
  }

  header {
    width: 100%;
  }

  h3 {
    font-size: x-large;
  }

  h2 {
    font-size: -webkit-xxx-large;
  }

  .logo {
    width: 5%;
    height: auto;
    padding: 1%;
  }

  .logoPro{
    width: 4%;
    padding: 1%;
  }

  .icon {
    display: inline-block;
    width: 10%;
    padding: 5%;
    margin-left: 3%;
  }

  .final {
    width: 25%;
  }
  .projectcover {
    width: 20%;
padding-left: 0%;
margin-right: 3%;
  }

  .contactme {
    display: inline-block;
    width: 70px;
    padding: 7px;
    margin-block-end: 8%;
  }

  .cover{
   display: none;
 }

 .user{
    width: 100%;
  }

  .prototype{
    display: inline-block;
    width: 25%;
    padding: 2%;
    margin-block-start: 0%;
    margin-block-end: 4%;
}


li{
  margin-left: 10%;
}

ul{
  margin-block-end: 5%;
}

  #parraph{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    margin: 3%;
  }

  #skills{
    margin-left: 10%;
    padding: 0px;
    margin-block-end: 0%;
  }
}

@media (min-width: 1280px) and (max-width: 1380px) {
  p {
    margin: 1%;
    padding: 0%;
    color: #2e899f;
    font-family: sans-serif;
    padding: 1%;
    font-size: 17px;
    text-align: CENTER;
    margin-block-end: 3%;
  }

  .about {
    margin-block-start: 0%;
  }

  .aboutme {
    width: 50%;
    margin-block-start: 20%;
    margin-block-end: 0%;
    margin-left: 10%;
  }

  .intro {
    margin-block-start: 0%;
  }
  .menu-toogle::before {
    font-size: 40px;
  }

  .logo {
    width: 7%;
  }

  .monograma {
    width: 25%;
    margin-block-start: 0%;
    margin-left: 3%;
    margin-block-end: 0%;
  }

  .quote {
    margin-block-end: 5%;
  }

  .projectcover {
    width: 18%;
padding-left: 0%;
margin-right: 3%;
  }

  .design {
    width: 29%;
    float: left;
    margin-left: 5%;
  }
  .tools {
    display: inline-block;
    width: 15%;
    padding: 4%;
    margin-block-end: 3%;
    text-align: center;
  }

  .back {
    padding: 2%;
  }
  .cover {
    width: 100%;
    margin-block-start: 0%;
    margin-block-end: 0%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  header {
    width: 100%;
  }

  .p-0 {
    padding: 0!important;
    text-align: center;
  }

  .intro{
  margin-top: 19px;
  }

  .projectcover {
    width: 18%;
padding-left: 0%;
margin-right: 3%;
  }

  .tools {
    width: 14%;
    padding: 3%;
  }

  .logo {
        width: 7%;
    height: auto;
    padding: 1%;
  }

  .info {
    margin-block-start: 0%;
  }

  .final {
    width: 30%;
  }

  .icon {
    width: 11%;
    height: auto;
    padding: 5%;
  }

  .sidebar {
    right: -1557px;
    padding-top: 47px;
  }

  .menu-toogle {
    top: 19px;
  }

  .image {
    display: inline-block;
    width: 32%;
  }

  #footer {
    text-align: center;
    vertical-align: bottom;
    padding-top: 0%;
    padding: 3%;
    padding-bottom: 0%;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  header {
    width: 100%;
  }

  .projectcover {
    width: 20%;
    border-radius: 3;
    padding-left: 4%;
  }

  .logo {
    width: 8%;
    height: auto;
    padding: 3%;
  }

  .info {
    margin-block-start: 0%;
  }

  .icon {
    display: inline-block;
    width: 15%;
    height: auto;
    padding: 5%;
    margin-left: 3%;
  }

  .sidebar {
    right: -656px;
    padding-top: 47px;
  }

  .image {
    display: inline-block;
    width: 32%;
  }

}

@media (min-width: 300px) and (max-width: 767px) {
  header {
    width: 100%;
  }

  .projectcover {
    width: 80%;
    border-radius: 3;
  }

  .logo {
    width: 21%;
    height: auto;
    padding: 3%;
  }

  .sidebar {
    right: -435px;
    padding-top: 47px;
  }


  #footer {
    padding: 3%;
  }
}
